.class-analytics-container {
	font-family: $fontText;
	.page-title {
		margin: 0 auto;
		margin-top: 1em;
		height: 4em;
		background-color: $navbar;
		color: $hover;
		text-align: center;
		font-family: $fontText;
		width: 99%;
		margin-bottom: 1em;
		box-shadow: 2px 2px 2px #000;
	}
	.left-side {
		background-color: $innerContainer;
		margin-right: 3em;
		margin-left: .4em;
		padding: 0em 1em;
		box-shadow: 2px 2px 2px #000;
		.choose-quiz {
			font-size: 30px;
			color: white;
		}
		.select-btn {
			background-color: $buttonBackground;
			color: $buttonTextColor;
			font-family: $paragraphFontFamily;
			margin-left: 1em;
		}
		.select-btn:hover {
			background-color: $hover;
			color: $navbar;
		}
		.drop-down-btn {
			font-family: $paragraphFontFamily;
			cursor: pointer;
			width: 19em;
		}
	}
	.right-side {
		margin-left: 0;
		.analytics-container {
			background-color: $innerContainer;
			padding: 0 1em;
			.header {
				font-size: 30px;
				color: white;
			}
			.right-content {}
			hr {
				border-color: $hover;
				margin: 0;
			}
			.wrapper {
				border-bottom: 1px solid $hover;
				.question-title {
					font-size: 24px;
					color: $linkColor;
				}
				.question-answer {
					font-size: 24px;
					color: $linkColor;
				}
				.question {
					font-size: 20px;
					color: white;
				}
				.avg {
					font-size: 20px;
				}
			}
		}
	}
}

