.create-quiz-container {
	font-family: $fontFanwood;
	padding-right: 2%;
	padding-left: 2%;
	font-size: 1.2em;
		hr{
			margin: 0;
			border-color: $hover;
			clear: both;
			padding-bottom: 1em;
		}
		h3 {
			font-family: $fontQuestrial;
			color: $header;
			padding: 0;
			margin: 0;
		}
		label {
			color: $subHeader;
		}
		.create-quiz {
			background: $contentBackground;
			margin-top: 3em;
			float: right;
			padding: 2%;
				button {
					background-color: $button;
					border-bottom: 2px solid $header;
					padding: 0 10px;
					border: none;
					color: $navbar;
					font-family: $fontQuestrial;
					cursor: pointer;
				}
		}
}