@media (min-width: 70.626em) {
.dashboard-container .dashboard-links {
	background: #934C47;
	text-align: center;
	display: inline-block;
	margin-left: 1em;
	width: 30%;
}

.dashboard-container .dashboard-title {
	margin-left: 40%;
}

.dashboard-container .analytics {
	margin-left: 3%;
}

}

@media (min-width: 10em) and (max-width: 70.625em) {
	.dashboard-container .dashboard-links {
	background: #934C47;
	text-align: center;
}

.dashboard-container .dashboard-title {
	margin-left: 40%;
}

.dashboard-container .analytics {
	margin-left: 3%;
}
}
