.dashboard-container {
	a{
		text-decoration: none;
	}
	margin: 0 2em;
	.dashboard-links{
		color: #280036;
		border: 2px solid #FADA00;
		box-sizing: border-box;
		padding-top: 0.3em;
		
	}
	@media (min-width: 70.626em) {
		.dashboard-links {
			background: #934C47;
			text-align: center;
			display: inline-block;
			margin: 1em;
			width: 47%;
		}

		.dashboard-title {
			text-align: center;
		}

		.analytics {
			margin-left: 3%;
		}

	}

	@media (min-width: 10em) and (max-width: 70.625em) {
		.dashboard-links {
			background: #934C47;
			text-align: center;
			margin: 1em 0;
		}

		.dashboard-title {
			text-align: center;
		}

		.analytics {
			margin-left: 3%;
		}
	}
}