
.footer-container {
    margin-top: 7em;
	width: 100%;
    bottom: 0;
    min-height: 2.5em;
    font-family: $paragraphFontFamily;
    font-weight: bolder;
    background: $navbar;
    padding-top: 1em;
    ul {
        margin-bottom: 0;
    }
    li {
        text-decoration: none;
        display: inline;
        color: $subheaderTextColor;
        list-style-type: none;
        padding-left: .5em;
        padding-right: .5em;
        a {
        	color: $subheaderTextColor;
        	text-decoration: underline;
        }
    }
}
