.footer-container {
	position: fixed;
	width: 100%;
    bottom: 0%;
    padding: 0;
    font-family: $paragraphFontFamily;
    font-weight: bolder;
    background: $navbar;
    li {
        text-decoration: none;
        display: inline;
        color: $subheaderTextColor;
        list-style-type: none;
        padding-left: .5em;
        padding-right: .5em;
        a {
        	color: $subheaderTextColor;
        	text-decoration: underline;
        }
    }
}
