.loginFormContainer{
	background-color:  #FFEBBE;


}


.login-form{
	border-top:5em solid #FFEBBE;
	background-color:#934C47;
	height:80%;
	width:40%;
	margin:0 auto;
	text-align: center;
	font-family:Questrial, sans-serif;
	color:#FD9856;
	padding-top:4em;
	min-width: 17em;
	.u-full-width {
		width: 70%;
		
	}
	
	.login-heading{
		padding-top:1em;
	}




	
	.button-primary{
		background-color:#24677F;
		border:#24677F;
		color:#F1D000;
		padding-bottom:3em;

		
		}
	.button-primary:hover{
		background:#FD9856;
		}
	
}

			



