

.loginFormContainer{
	background-color:  #FFEBBE;


}
.login-form{
	background-color:#934C47;
	height:80%;
	width:80%;
	margin:0 auto;
	text-align: center;

	
	h2{
		padding-top: .5em;
	}

	.login-username{
		display:block;
	}

	.login-password{
		@extend .login-username;
	}
	
	
}