nav {
	background: $navbar;
	height: 67px;
}
.nav-bar-button {
	float: right;
	padding: 1.5em;
	a {
		text-decoration: none;
		color: $hover;
	}
}
a:hover {
  	color: $hover;
  	background-color: $navbar;
}
.logo {
	height: 4em;
	width: 4em;
	float: left;
}
.user-name-display {
	color: $navbar;
	padding: 1.5em;
	float: left;
}