.post-question {
	text-align: center;
	margin-top: 3em;
	.validate {
		width: 80%;
	}
	.choice {
		width: 63%;
		margin-right: 2%;
	}
	.choice-btn {
		width: 15%;
	}
	button {
		background-color: #24677F;
		color: #fff;
	}
}

