
.post-question-component {
	font-family: $fontFanwood;
	padding-right: 2%;
	padding-left: 2%;
	font-size: 1.2em;
	h3, label {
		font-family: $fontQuestrial;
		color: $linkColor;
		padding: 0;
		margin: 0;
	}
	#h3 {
	text-align: left;
	padding-left: .5em;
	}
	hr{
		margin: 0;
		border-color: $hover;
		clear: both;
		padding-bottom: 1em;
	}
	.post-question {
		text-align: center;
		margin-top: 3em;
		border: 1px solid black;
		float: right;
		box-shadow: 2px 2px 2px #000;
		padding: 2%;
			.validate {
				width: 86%;
				background: $bodyBackground;
			}
			.choice {
				width: 68%;
				margin-right: 2%;
			}
			.choice-btn {
				width: 16%;
			}
			button {
				background-color: $button;
				padding: 0 10px;
				color: $navbar;
				font-family: $fontQuestrial;
				cursor: pointer;
			}
	}

}

.instructions {
	margin-top: 3em;
	padding: 2%;
	background: $innerContainer;
	border: 1px solid black;
	box-shadow: 2px 2px 2px #000;
	li {
		list-style: none;
		color: $navbar;
	}
}


@media (min-width: 550px){
	.post-question-component{
		.column, .columns {
	  		margin-left: 0;
		}
	}
}
