
.post-question-component {
	font-family: $fontHeader;
	font-size: 1.2em;
	background: $contentBackground;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3em;
	h3 {
		color:  $header;
		background: $headerBackground;
		padding-left: 2%;
	}
	label{
		color: $subHeader;
	}
	.post-question {
		text-align: left;
		float: right;
		padding: 2%;
			.validate {
				width: 100%;
			}
			.choice {
				width: 80%;
				margin-right: 2%;
			}
			.choice-btn {
				width: 18%;
			}
			button {
				background-color: $button;
				color: $navbar;
				font-family: $fontText;
				box-shadow: 3px 3px 0px $header;
				border: none;
				font-weight: bold;
				font-size: .8em;
				border-radius: .1em;
			}
	}

}



@media (min-width: 550px){
	.post-question-component{
		.column, .columns {
	  		margin-left: 0;
		}
	}
}
