.QuizListComponent{
	.quiz-image-container{
		height: 20em;
		width: 50%;
		margin: 1em auto 0 auto;
		box-shadow: 2px 2px 2px 2px #000;
		img{
		height: 100%;
		width: 100%;
		}
	}
	.quiz-container{

	}
}
