.title {
	font-family: $fontQuestrial;
}
.question {
	font-size: 1.2em;
}

.container {
	margin: 2em;
	font-family: $fontQuestrial;
}

.question-container {
	margin: 2em;
	font-family: $fontQuestrial;
}

.percentage {
	margin: 2em;
	font-family: $fontQuestrial;
}
.green {
	color: green;
	font-weight: bold;
	font-family: $fontQuestrial;
}

.red {
	color: red;
	font-weight: bold;
	font-family: $fontQuestrial;
}