.quiz-results-container {

	.title {
		font-family: $fontText;
	}

	.question {
		font-size: 1.2em;
	}

	.container {
		margin: 2em;
		font-family: $fontText;
	}

	.question-container {
		margin: 2em;
		font-family: $fontText;
	}

	.percentage {
		margin: 2em;
		font-family: $fontText;
	}

	.green {
		color: green;
		font-weight: bold;
		font-family: $fontText;
	}

	.red {
		color: red;
		font-weight: bold;
		font-family: $fontText;
	}
}
