
.quiz-details-component {
	font-family: $fontHeader;
	margin-left: 10%;
	width: 80%;
	font-size: 1.2em;
	background: $innerContainer;
	margin-top: 3em;
	border: 1px solid black;
	box-shadow: 2px 2px 2px #000;
	padding: 2%;
	color:white;
		h4 {
			font-family: $fontText;
			color: $linkColor;
			padding: 0;
			margin: 0;
	}
	button {
				background-color: #24677F;
				padding: 0 10px;
				border: none;
				color: $linkColor;
				font-family: $fontText;
				cursor: pointer;
				border: 1px solid #bbb;
			}
	.questions{
		color:red;
	}
}
