$navbar: #280036;
$button: #24677F;
$bodyBackground: #FFEBBE;
$innerContainer: #934C47;
$hover: #FD9856;
$linkColor: #F1D000;
$fontQuestrial: 'Questrial', sans-serif;
$fontFanwood: 'Fanwood Text', serif;
