$navbar: #412D62;
$button:  #90C5A9;
$bodyBackground:  #F4EAE0;
$innerContainer: #F8E1B5;
$hover: #F8E1B5;
$linkColor: #FF434A;
$fontQuestrial: 'Questrial', sans-serif;
$fontFanwood: 'Fanwood Text', serif;
$subHeader: #FFA54B;
